@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lora&family=Roboto+Mono&display=swap');

$dark:#000;
$bg-dark:#202430;
$bg-surface:#242A38;

$white:#fff;
$text: #CCD6F6;
$text-muted:#8892B0;

$primary:#274AFE;
$yellow:#FFCC00;
$orange:#9A4C35;
$green:#64FFDA;
