.card {
    background-color: $bg-surface;
}

.work-card {
    position: relative;
}

.work-card .card-description {
    background-color: #202430c9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-rows: auto repeat(3);
    opacity: 0;
    transition-duration: .3s;
    h4, p {
        width: 90%;
        margin: auto;
    }
}

.work-card .description-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.work-card:hover .card-description {
    opacity: 1;
}

section:nth-child(1) .card {
    width: 240px;
    height: 240px;
    position: relative;
    margin-bottom: 60px;
    margin-top: 30px;
    z-index: 10;

    .card-picture {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: $bg-surface;
    }

    &::after {
        display: block;
        position: absolute;
        content:"";
        width: 100%;
        height: 100%;
        border: 1px solid $yellow;
        transform: translate(16px, 16px);
    }

    .card-picture, &::after {
        border-radius: 6px;
    }
}

@media screen and (min-width: 1280px) {
    section:nth-child(1) .card {
        width: 340px;
        height: 450px;
    }

    section:nth-child(2) .card {
        background-color: $bg-dark;
    }

    .work-card {
        margin-bottom: 80px;
    }

    .work-card .card-description {
        width: 490px;
        display: block;
        height: max-content;
        opacity: 1;
        background-color: $bg-dark;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .work-card img {
        width: 590px;
        height: 370px;
    }

    .work-card img, .card-description {
        border-radius: 16px;
    }
}


